{
    "presets": [
        ["@babel/typescript"],
        [
            "@babel/preset-react",
            {
                // "debug": true,
                "useBuiltIns": "usage",
                "corejs": 3
                // "useBuiltIns": "entry",
                // "corejs": 3
            }
        ],
        ["@babel/preset-env"]
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "lodash",
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": "css"
            }
        ],
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ]
    ]
}
